<div class="container">
    <h3>Products</h3>
    <div class="options">
        <button (click)="gridView = false">
            List View
        </button>
        <button (click)="gridView = true">
            Grid View
        </button>
        <select (change)='sort()'>
            <option value="0">Low to High</option>
            <option value="1">High to Low</option>
        </select>
    </div>
    <div class="arrangement" [ngStyle]="gridView ? {'display': 'grid',
    'grid-template-columns': '270px 270px 270px 270px'} : { 'display': 'grid',
    'grid-template-columns': '500px 500px'}">
        <div *ngFor="let product of products" class="products">
            <div>
                Product {{product}}
            </div>
            <div>
                Price : {{product}}
            </div>
        </div>
    </div>

</div>